body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  canvas {
    display: block;
    position:relative;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    }